<img src="images/intro.jpeg">

# Project - Tentativa

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">1. Imports</h1></center>
</div>

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from datetime import datetime
import seaborn as sn
from matplotlib import pyplot as plt

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">2. Read files </h1></center>
</div>

<div style="border: solid 4px #2f648a; border-radius: 5px;"> 
    <center><h3 style="color: #2f648a; padding: 10px;">2.1 Leitura da bases de dados dos formandos</h3></center>
</div>

In [2]:
form = pd.read_csv("databases/formandos_limpo.csv")

C:\Users\sarro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# delete column produced by the csv
del form['Unnamed: 0']

In [4]:
form.shape

(72343, 12)

In [6]:
form.head()

,UTE_ID,CodCEFP,Sexo,IdadeEmAnos,CodHabilitacao,CodNacionalidade,HorasForm,AreaFormacao,NivelFormacaoAccao,CodSaidaProfissional,Sucessos,DuracaoFormacao
0,24054,201,1,41,12,PT,1504.0,521,5,52174,0,375 days 00:00:00.000000000
1,39165,309,0,45,12,PT,1300.0,481,5,4816,0,325 days 00:00:00.000000000
2,77485,402,0,51,12,PT,211.0,481,5,4817,0,434 days 00:00:00.000000000
3,145884,501,0,53,12,PT,465.0,812,5,8126,0,382 days 00:00:00.000000000
4,155241,501,1,51,12,PT,447.0,812,5,8126,1,382 days 00:00:00.000000000

<div style="border: solid 4px #2f648a; border-radius: 5px;"> 
    <center><h3 style="color: #2f648a; padding: 10px;">2.2 Leitura da bases de dados dos cursos</h3></center>
</div>

In [7]:
cursos = pd.read_csv("databases/cursos.csv")

In [8]:
# delete column produced by the csv
del cursos['Unnamed: 0']

In [9]:
cursos.shape

(162195, 3)

In [10]:
cursos.head()

    UTE_ID F_CCURSO                                           F_DCURSO
0  5963829  FM089AC  COMUNICAÇÃO ASSERTIVA E TÉCNICAS DE PROCURA DE...
1  4320275  811141A                       TÉCNICO/A DE RESTAURANTE/BAR
2  5124212  81114ZZ                TÉCNICO/A DE RESTAURANTE/BAR (UFCD)
3  4787421  81205ZZ                          TURISMO AMBIENTAL E RURAL
4  5522037  FM089AC  COMUNICAÇÃO ASSERTIVA E TÉCNICAS DE PROCURA DE...

<div style="border: solid 4px #2f648a; border-radius: 5px;"> 
    <center><h3 style="color: #2f648a; padding: 10px;">2.3 Leitura da bases de dados dos pedidos</h3></center>
</div>

In [11]:
pedidos = pd.read_csv("databases/pedidos.csv")

C:\Users\sarro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
pedidos.shape

(384551, 6)

In [13]:
pedidos.head()

,Unnamed: 0,UTE_ID,CENTROA,DCENTRO_AB,FREGUESIA,DFREGUESIA
0,0,4853974,123,CTEF Bragança,040544,U.F. DE TALHINHAS E BAGUEIXE
1,1,4853974,123,CTEF Bragança,040544,U.F. DE TALHINHAS E BAGUEIXE
2,2,1102550,123,CTEF Bragança,040544,U.F. DE TALHINHAS E BAGUEIXE
3,3,1102550,123,CTEF Bragança,040544,U.F. DE TALHINHAS E BAGUEIXE
4,4,6172405,123,CTEF Bragança,040544,U.F. DE TALHINHAS E BAGUEIXE

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">3. Junção das duas bases de dados</h1></center>
</div>

In [14]:
merged = form.merge(cursos, on="UTE_ID", how="inner")

In [15]:
merged.shape

(113359, 14)

In [16]:
merged.head()

,UTE_ID,CodCEFP,Sexo,IdadeEmAnos,CodHabilitacao,CodNacionalidade,HorasForm,AreaFormacao,NivelFormacaoAccao,CodSaidaProfissional,Sucessos,DuracaoFormacao,F_CCURSO,F_DCURSO
0,24054,201,1,41,12,PT,1504.0,521,5,52174,0,375 days 00:00:00.000000000,62110ZZ,OPERADOR/A AGRÍCOLA (UFCD)
1,24054,201,1,41,12,PT,1504.0,521,5,52174,0,375 days 00:00:00.000000000,521641E,TÉCNICO/A ESPECIALISTA EM TECNOLOGIA MECATRÓNICA
2,39165,309,0,45,12,PT,1300.0,481,5,4816,0,325 days 00:00:00.000000000,48102ZZ,TÉCNICO/A DE INFORMÁTICA - SISTEMAS
3,39165,309,0,45,12,PT,1300.0,481,5,4816,0,325 days 00:00:00.000000000,481061E,GESTÃO DE REDES E SISTEMAS INFORMÁTICOS
4,77485,402,0,51,12,PT,211.0,481,5,4817,0,434 days 00:00:00.000000000,48102ZZ,TÉCNICO/A DE INFORMÁTICA - SISTEMAS

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">4. Taxa de sucesso por curso</h1></center>
</div>

In [17]:
# criar tabela com contagem de cada formação
count_form = merged[['F_DCURSO', "UTE_ID"]] \
            .groupby("F_DCURSO") \
            .count() \
            .rename(columns = {'UTE_ID': 'Count'})

count_form

                                                    Count
F_DCURSO
 ARRANJOS FLORAIS E DECORAÇÃO                          20
 INTRODUÇÃO AOS CUIDADOS DE BELEZA                     21
 LOGÍSTICA - CADEIA DE ABASTECIMENTO (B3) Q+           11
 LÍNGUA ESPANHOLA - ATENDIMENTO E VENDAS               59
 LÍNGUA ESPANHOLA - INFORMAÇÃO E ATENDIMENTO TÉ...      2
...                                                   ...
WEB E MULTIMÉDIA                                       28
WINDOWS SERVER - REDE E SERVIÇOS                        4
WORLDSKILLS KAZAN 2019 - FORMAÇÃO ESPECÍFICA EM...      1
ÇÃO EDUCATIVA - PROTEÇÃO E RESPOSTAS SOCIAIS PA...      1
ÉTICA, DEONTOLOGIA E COMUNICAÇÃO EMPRESARIAL           14

[944 rows x 1 columns]

In [18]:
# filtrar apenas os casos de sucesso
succ = merged[merged["Sucessos"]==1]


# criar tabela com contagem de cada formação com outcome <sucesso>
count_form_succ = succ[['F_DCURSO', "UTE_ID"]] \
            .groupby("F_DCURSO") \
            .count() \
            .rename(columns = {'UTE_ID': 'Count_succ'})

count_form_succ

                                                    Count_succ
F_DCURSO
 ARRANJOS FLORAIS E DECORAÇÃO                                2
 INTRODUÇÃO AOS CUIDADOS DE BELEZA                           5
 LOGÍSTICA - CADEIA DE ABASTECIMENTO (B3) Q+                 1
 LÍNGUA ESPANHOLA - ATENDIMENTO E VENDAS                     9
 TÉCNICO/A DE BANCA E SEGUROS                                2
...                                                        ...
VIDREIRO/A                                                  43
WEB E MULTIMÉDIA                                             2
WINDOWS SERVER - REDE E SERVIÇOS                             1
WORLDSKILLS KAZAN 2019 - FORMAÇÃO ESPECÍFICA EM...           1
ÉTICA, DEONTOLOGIA E COMUNICAÇÃO EMPRESARIAL                 5

[717 rows x 1 columns]

In [19]:
# merge both dataframe based on F_CCURSO
merge_count = count_form.merge(count_form_succ, on="F_DCURSO", how="left")

# change NAN to zeros
merge_count["Count_succ"] = merge_count["Count_succ"].fillna(0)
merge_count

                                                    Count  Count_succ
F_DCURSO
 ARRANJOS FLORAIS E DECORAÇÃO                          20         2.0
 INTRODUÇÃO AOS CUIDADOS DE BELEZA                     21         5.0
 LOGÍSTICA - CADEIA DE ABASTECIMENTO (B3) Q+           11         1.0
 LÍNGUA ESPANHOLA - ATENDIMENTO E VENDAS               59         9.0
 LÍNGUA ESPANHOLA - INFORMAÇÃO E ATENDIMENTO TÉ...      2         0.0
...                                                   ...         ...
WEB E MULTIMÉDIA                                       28         2.0
WINDOWS SERVER - REDE E SERVIÇOS                        4         1.0
WORLDSKILLS KAZAN 2019 - FORMAÇÃO ESPECÍFICA EM...      1         1.0
ÇÃO EDUCATIVA - PROTEÇÃO E RESPOSTAS SOCIAIS PA...      1         0.0
ÉTICA, DEONTOLOGIA E COMUNICAÇÃO EMPRESARIAL           14         5.0

[944 rows x 2 columns]

In [20]:
# criar uma variável para guardar a taxa de sucesso de cada curso após a sua conclusão
merge_count["succ_rate"] = merge_count["Count_succ"] / merge_count["Count"]
merge_count

,Count,Count_succ,succ_rate
F_DCURSO,,,
ARRANJOS FLORAIS E DECORAÇÃO,20,2.0,0.100000
INTRODUÇÃO AOS CUIDADOS DE BELEZA,21,5.0,0.238095
LOGÍSTICA - CADEIA DE ABASTECIMENTO (B3) Q+,11,1.0,0.090909
LÍNGUA ESPANHOLA - ATENDIMENTO E VENDAS,59,9.0,0.152542
LÍNGUA ESPANHOLA - INFORMAÇÃO E ATENDIMENTO TÉCNICO,2,0.0,0.000000
...,...,...,...
WEB E MULTIMÉDIA,28,2.0,0.071429
WINDOWS SERVER - REDE E SERVIÇOS,4,1.0,0.250000
WORLDSKILLS KAZAN 2019 - FORMAÇÃO ESPECÍFICA EM SOLDADURA,1,1.0,1.000000
ÇÃO EDUCATIVA - PROTEÇÃO E RESPOSTAS SOCIAIS PARA CRIANÇAS E JOVENS (B3) Q+,1,0.0,0.000000
"ÉTICA, DEONTOLOGIA E COMUNICAÇÃO EMPRESARIAL",14,5.0,0.357143

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">5. Recommender System</h1></center>
</div>

In [21]:
# input utilizador

# descrição do utente
sexo = 1
idade = 30
hab = 12

# descrição do curso pretendido
horas = 500
centro = 309
area = 481

In [22]:
merged.shape

(113359, 14)

In [23]:
# aplicar filtros relativos ao sexo do utente
semelhantes = merged[merged["Sexo"]==sexo]

In [261]:
semelhantes.shape

(74816, 14)

In [262]:
# criação de duas variáveis relativas à idade minima e máxima na qual vamos basear o filtro 
scale = semelhantes["IdadeEmAnos"].max() - semelhantes["IdadeEmAnos"].min()

proportion = 0.15

min_age = idade - scale * 0.15
max_age = idade + scale * 0.15

# aplicar filtros relativos à idade do utente
semelhantes = semelhantes[(semelhantes["IdadeEmAnos"] > min_age) & (semelhantes["IdadeEmAnos"] < max_age)]

In [263]:
semelhantes.shape

(22285, 14)

In [264]:
# criação de duas variáveis relativas ao tempo minimo e máximo em horas da formação.
scale = semelhantes["HorasForm"].max() - semelhantes["HorasForm"].min()

proportion = 0.10

min_hours = idade - scale * 0.15
max_hours = idade + scale * 0.15

# aplicar filtros relativos à idade do utente
semelhantes = semelhantes[(semelhantes["HorasForm"] > min_hours) & (semelhantes["HorasForm"] < max_hours)]

In [265]:
semelhantes.shape

(17449, 14)

In [266]:
# aplicar filtros relativos ao sexo do utente
semelhantes = semelhantes[semelhantes["CodCEFP"]==centro]

In [267]:
semelhantes.shape

(453, 14)

In [255]:
# aplicar filtros relativos à AreaFormacao do utente
semelhantes = semelhantes[semelhantes["AreaFormacao"]==area]

In [256]:
semelhantes.shape

(8, 14)

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">6. Output</h1></center>
</div>

In [268]:
semelhantes["F_DCURSO"].value_counts()

TÉCNICAS DE APOIO À GESTÃO (UFCD)                                                      81
TÉCNICO/A COMERCIAL (UFCD)                                                             32
TÉCNICO/A AUXILIAR DE SAÚDE                                                            24
TÉCNICO/A DE CONTABILIDADE                                                             23
TÉCNICO/A DE RELAÇÕES LABORAIS                                                         23
ASSISTENTE FAMILIAR E DE APOIO À COMUNIDADE (UFCD)                                     21
MANICURA-PEDICURA                                                                      18
OPERADOR/A DE CERÂMICA                                                                 16
AGENTE EM GERIATRIA                                                                    15
OPERADOR/A DE DISTRIBUIÇÃO (UFCD)                                                      14
COZINHEIRO/A (UFCD)                                                                    13
TÉCNICO/A DE COMUNICAÇÃO E SERVIÇO DIGITAL (UFCD)                                      13
ARTESÃO/Ã DAS ARTES DO TÊXTIL                                                          11
EMPREGADO/A DE RESTAURANTE/BAR (UFCD)                                                  10
ASSISTENTE ADMINISTRATIVO/A                                                             9
OPERADOR/A DE LOGÍSTICA (UFCD)                                                          9
CABELEIREIRO/A UNISSEXO                                                                 8
OPERADOR/A DE INFORMÁTICA                                                               8
OPERADOR/A AGRÍCOLA (UFCD)                                                              7
ACOMPANHANTE DE TURISMO EQUESTRE                                                        7
TÉCNICO/A DE COZINHA/PASTELARIA (UFCD)                                                  7
TÉCNICO/A DE PRODUÇÃO AUTOMÓVEL                                                         6
FORMAÇÃO CONTÍNUA DE FORMADORES                                                         5
TÉCNICO/A DE LOGÍSTICA (UFCD)                                                           5
COSTUREIRO/A MODISTA                                                                    5
TÉCNICO/A DE ORGANIZAÇÃO DE EVENTOS (UFCD)                                              5
GESTÃO DE REDES E SISTEMAS INFORMÁTICOS                                                 4
COMPETÊNCIAS EMPREENDEDORAS E TÉCNICAS DE PROCURA DE EMPREGO - FORMAÇÃO TRANSVERSAL     4
TÉCNICAS DE APOIO À GESTÃO                                                              4
TÉCNICO/A DE INFORMAÇÃO E ANIMAÇÃO TURÍSTICA                                            4
TÉCNICO/A DE MULTIMÉDIA                                                                 4
TÉCNICO DE TURISMO AMBIENTAL E RURAL                                                    3
TÉCNICO/A DE GERIATRIA                                                                  3
ESTETICISTA (UFCD)                                                                      3
TÉCNICO/A DE ANÁLISE LABORATORIAL                                                       3
OPERADOR/A DE DISTRIBUIÇÃO                                                              2
OPERADOR/A DE TRANSFORMAÇÃO DO PESCADO (UFCD)                                           2
TÉCNICO/A DE AÇÃO EDUCATIVA                                                             2
APOIO FAMILIAR E À COMUNIDADE (UFCD)                                                    2
ASSISTENTE DE CUIDADOS DE BELEZA                                                        2
CUIDADOR/A DE CRIANÇAS E JOVENS                                                         2
TÉCNICO/A DE APOIO FAMILIAR E DE APOIO À COMUNIDADE                                     2
TÉCNICO/A DE INFORMÁTICA - SISTEMAS                                                     1
CABELEIREIRO/A                                                                          1
PROGRAMA PORTUGUES PARA TODOS - PERCURSO A                                              1
TÉCNICO/A DE MUSEOGRAFIA E GESTÃO DO PATRIMÓNIO                                         1
PREPARAÇÃO PARA O CAMPEONATO DAS PROFISSÕES                                             1
OPERADOR/A DE LOGÍSTICA                                                                 1
ESTETICISTA                                                                             1
ELETRICISTA DE INSTALAÇÕES                                                              1
TÉCNICO/A AUXILIAR DE SAÚDE (APRENDIZAGEM)                                              1
TÉCNICO/A ADMINISTRATIVO/A (UFCD)                                                       1
TÉCNICO/A DE VENDAS  (UFCD)                                                             1
TÉCNICO/A DE FABRICO DE COMPONENTES DE CONSTRUÇÃO METÁLICA                              1
Name: F_DCURSO, dtype: int64