<img src="images/intro.jpeg">

# Project - Pedidos

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">1. Imports</h1></center>
</div>

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import seaborn as sns
from matplotlib import pyplot as plt

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">2. Read Files</h1></center>
</div>

Importar as 3 bases de dados relativas às intervenções para 3 DataFrames pandas.

In [2]:
pedidos1 = pd.read_excel("databases/apura_iscte_lpedidos_ant.xlsx")
pedidos1.shape

In [3]:
pedidos2 = pd.read_excel("databases/apura_iscte_lpedidos_apos.xlsx")
pedidos2.shape

In [4]:
pedidos3 = pd.read_excel("databases/apura_iscte_m01.xlsx")

In [5]:
pedidos1.head(2)

,UTE_ID,ANO_MES,DATA_MOVIMENTO,TIPO_MOVIMENTO,DTIPO_MOVIMENTO,CENTROA,DCENTRO_AB,AREA_CURSO,ANO_CONCLUSAO_CURSO,CEST_SUPERIOR,...,DCPP,CAE_COLOCACAO,DCAE_COLOCACAO,TIPO_CONTRATO_COLOC,REGIME_CONTRATO_COLOC,REGIME_HORARIO,PAIS_COLOCACAO,TIPO_OCUPACAO,ANOMES_12INI,ANOMES_INI
0,4853974,201805,2018-05-11 18:03:16,43,MUDANÇAS CATEGORIA,123,CTEF Bragança,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.0,201705,201805
1,4853974,201803,2018-03-09 10:15:46,11,PEDIDOS DE EMPREGO AO LONGO DO MÊS,123,CTEF Bragança,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201705,201805

In [6]:
pedidos2.head(2)

,UTE_ID,ANO_MES,DATA_MOVIMENTO,TIPO_MOVIMENTO,DTIPO_MOVIMENTO,CENTROA,DCENTRO_AB,AREA_CURSO,ANO_CONCLUSAO_CURSO,CEST_SUPERIOR,...,DCPP,CAE_COLOCACAO,DCAE_COLOCACAO,TIPO_CONTRATO_COLOC,REGIME_CONTRATO_COLOC,REGIME_HORARIO,PAIS_COLOCACAO,TIPO_OCUPACAO,ANOMES_FIM,ANOMES_12FIM
0,4853974,201902,2019-02-04 15:50:35,11,PEDIDOS DE EMPREGO AO LONGO DO MÊS,123,CTEF Bragança,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201807,201907
1,4853974,201807,2018-07-09 11:07:13,31,ANULAÇÕES AO LONGO DO MÊS,123,CTEF Bragança,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.0,201807,201907

In [7]:
pedidos3.head()

,UTE_ID,ANO_MES,DATA_MOVIMENTO,TIPO_MOVIMENTO,DTIPO_MOVIMENTO,CENTROA,DCENTRO_AB,AREA_CURSO,ANO_CONCLUSAO_CURSO,CEST_SUPERIOR,...,DATA_COLOCACAO,CPP,DCPP,CAE_COLOCACAO,DCAE_COLOCACAO,TIPO_CONTRATO_COLOC,REGIME_CONTRATO_COLOC,REGIME_HORARIO,PAIS_COLOCACAO,TIPO_OCUPACAO
0,5062277,201402,2014-03-01 20:05:34,1,PEDIDOS DE EMPREGO NO FIM DO MÊS,302,CTE Almada,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4127072,201402,2014-03-01 19:56:38,1,PEDIDOS DE EMPREGO NO FIM DO MÊS,151,CTE Gondomar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4131592,201402,2014-03-01 19:56:48,1,PEDIDOS DE EMPREGO NO FIM DO MÊS,151,CTE Gondomar,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4287025,201402,2014-03-01 19:57:31,1,PEDIDOS DE EMPREGO NO FIM DO MÊS,140,CTE Maia,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0
4,5631572,201402,2014-03-01 20:53:23,1,PEDIDOS DE EMPREGO NO FIM DO MÊS,310,CTEF Seixal,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pedidos1.shape

(318253, 47)

In [9]:
pedidos2.shape

(384551, 47)

In [10]:
pedidos3.shape

(49593, 45)

In [11]:
pedidos1.isnull().sum()

UTE_ID                        0
ANO_MES                       0
DATA_MOVIMENTO                0
TIPO_MOVIMENTO                0
DTIPO_MOVIMENTO               0
CENTROA                       0
DCENTRO_AB                   12
AREA_CURSO               282900
ANO_CONCLUSAO_CURSO      282921
CEST_SUPERIOR            282940
DEFICIENCIA                   0
DDEFICIENCIA                  0
HABILITACAO                   0
DHABILITACAO_ESCOLAR          0
DATA_NASCIMENTO               0
IDADE                         0
NACIONALIDADE                 0
DNACIONALIDADE                0
FREGUESIA                     0
DFREGUESIA                    0
SEXO                          0
CATEGORIA                     0
DCATEGORIA                    0
DATA_INSCRICAO                0
MOTIVO_INSCRICAO              0
DMOTIVO_INSCRICAO             0
RINSC                         0
INT_TEMPO_INSCRICAO           0
CPP_PRETENDIDA              334
DCPP_PRETENDIDA             334
CAE_ANTERIOR              39494
DCAE                      39494
DATA_ANULACAO            292622
MOTIVO_ANULACAO          292568
DMOTIVO_ANULACAO         292568
DATA_COLOCACAO           312372
CPP                      313543
DCPP                     313543
CAE_COLOCACAO            313543
DCAE_COLOCACAO           313543
TIPO_CONTRATO_COLOC      313543
REGIME_CONTRATO_COLOC    313543
REGIME_HORARIO           313543
PAIS_COLOCACAO           318253
TIPO_OCUPACAO            194319
ANOMES_12INI                  0
ANOMES_INI                    0
dtype: int64

In [12]:
pedidos2.isnull().sum()

UTE_ID                        0
ANO_MES                       0
DATA_MOVIMENTO                0
TIPO_MOVIMENTO                0
DTIPO_MOVIMENTO               0
CENTROA                       0
DCENTRO_AB                    3
AREA_CURSO               344608
ANO_CONCLUSAO_CURSO      344629
CEST_SUPERIOR            344647
DEFICIENCIA                   0
DDEFICIENCIA                  0
HABILITACAO                   0
DHABILITACAO_ESCOLAR          0
DATA_NASCIMENTO               0
IDADE                         0
NACIONALIDADE                 0
DNACIONALIDADE                0
FREGUESIA                     0
DFREGUESIA                    0
SEXO                          0
CATEGORIA                     0
DCATEGORIA                    0
DATA_INSCRICAO                0
MOTIVO_INSCRICAO              0
DMOTIVO_INSCRICAO             0
RINSC                         0
INT_TEMPO_INSCRICAO           0
CPP_PRETENDIDA              260
DCPP_PRETENDIDA             260
CAE_ANTERIOR              45418
DCAE                      45418
DATA_ANULACAO            323432
MOTIVO_ANULACAO          323308
DMOTIVO_ANULACAO         323308
DATA_COLOCACAO           370832
CPP                      373582
DCPP                     373582
CAE_COLOCACAO            373582
DCAE_COLOCACAO           373582
TIPO_CONTRATO_COLOC      373582
REGIME_CONTRATO_COLOC    373582
REGIME_HORARIO           373582
PAIS_COLOCACAO           384551
TIPO_OCUPACAO            298335
ANOMES_FIM                    0
ANOMES_12FIM                  0
dtype: int64

In [13]:
pedidos3.isnull().sum()

UTE_ID                       0
ANO_MES                      0
DATA_MOVIMENTO               0
TIPO_MOVIMENTO               0
DTIPO_MOVIMENTO              0
CENTROA                      0
DCENTRO_AB                   0
AREA_CURSO               44545
ANO_CONCLUSAO_CURSO      44553
CEST_SUPERIOR            44557
DEFICIENCIA                  0
DDEFICIENCIA                 0
HABILITACAO                  0
DHABILITACAO_ESCOLAR         0
DATA_NASCIMENTO              0
IDADE                        0
NACIONALIDADE                0
DNACIONALIDADE               0
FREGUESIA                    0
DFREGUESIA                   0
SEXO                         0
CATEGORIA                    0
DCATEGORIA                   0
DATA_INSCRICAO               0
MOTIVO_INSCRICAO             0
DMOTIVO_INSCRICAO            0
RINSC                        0
INT_TEMPO_INSCRICAO          0
CPP_PRETENDIDA              19
DCPP_PRETENDIDA             19
CAE_ANTERIOR              6711
DCAE                      6711
DATA_ANULACAO            49493
MOTIVO_ANULACAO          49483
DMOTIVO_ANULACAO         49483
DATA_COLOCACAO           49593
CPP                      49593
DCPP                     49593
CAE_COLOCACAO            49593
DCAE_COLOCACAO           49593
TIPO_CONTRATO_COLOC      49593
REGIME_CONTRATO_COLOC    49593
REGIME_HORARIO           49593
PAIS_COLOCACAO           49593
TIPO_OCUPACAO            36457
dtype: int64

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">3. Análise de variáveis</h1></center>
</div>

In [11]:
pedidos1['DTIPO_MOVIMENTO'].unique()

array(['MUDANÇAS CATEGORIA', 'PEDIDOS DE EMPREGO AO LONGO DO MÊS',
       'ANULAÇÕES AO LONGO DO MÊS', 'COLOCAÇÕES AO LONGO DO MÊS'],
      dtype=object)

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">4. Exportar dataset final</h1></center>
</div>

In [12]:
# dataset para permitir a identificação da região, consoante o centro de emprego
final = pedidos2[['UTE_ID', 'IDADE','SEXO','CATEGORIA', 'DCATEGORIA', 'CPP_PRETENDIDA','DCPP_PRETENDIDA']]
final.head()

,UTE_ID,IDADE,SEXO,CATEGORIA,DCATEGORIA,CPP_PRETENDIDA,DCPP_PRETENDIDA
0,4853974,34,M,1,DESEMPREGADO-1º EMPREGO,52230.0,VENDEDOR EM LOJA (ESTABELECIMENTO)
1,4853974,34,M,5,OCUPADO,52230.0,VENDEDOR EM LOJA (ESTABELECIMENTO)
2,1102550,56,M,2,DESEMPREGADO-NOVO EMPREGO,63100.0,AGRICULTOR DE SUBSISTÊNCIA
3,1102550,56,M,2,DESEMPREGADO-NOVO EMPREGO,63100.0,AGRICULTOR DE SUBSISTÊNCIA
4,6172405,23,M,2,DESEMPREGADO-NOVO EMPREGO,82110.0,MONTADOR DE MAQUINARIA MECÂNICA

In [13]:
final.isnull().sum()

UTE_ID               0
IDADE                0
SEXO                 0
CATEGORIA            0
DCATEGORIA           0
CPP_PRETENDIDA     260
DCPP_PRETENDIDA    260
dtype: int64

In [14]:
final.shape

(384551, 7)

In [15]:
final.to_csv("databases/pedidos.csv")