<img src="images/intro.jpeg">

# Project - Tentativa

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">1. Imports</h1></center>
</div>

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from datetime import datetime
import seaborn as sn
from matplotlib import pyplot as plt

In [2]:
format = "%d"

<div style="background-color: #2f648a; border-radius: 5px;"> 
    <center><h1 style="color: white; padding: 20px;">2. Read files </h1></center>
</div>

<div style="border: solid 4px #2f648a; border-radius: 5px;"> 
    <center><h3 style="color: #2f648a; padding: 10px;">2.1 Leitura da bases de dados dos formandos</h3></center>
</div>

In [3]:
form = pd.read_csv("databases/formandos_limpo.csv")

C:\Users\sarro\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# delete column produced by the csv
del form['Unnamed: 0']

In [5]:
form.shape

(84260, 12)

In [6]:
form.head()

,UTE_ID,CodCEFP,Sexo,IdadeEmAnos,CodHabilitacao,CodNacionalidade,HorasForm,AreaFormacao,NivelFormacaoAccao,CodSaidaProfissional,Sucessos,DuracaoFormacao
0,24054,201,1,41,12,PT,1504.0,521,5,52174,0,375 days 00:00:00.000000000
1,39165,309,0,45,12,PT,1300.0,481,5,4816,0,325 days 00:00:00.000000000
2,77485,402,0,51,12,PT,211.0,481,5,4817,0,434 days 00:00:00.000000000
3,145884,501,0,53,12,PT,465.0,812,5,8126,0,382 days 00:00:00.000000000
4,155241,501,1,51,12,PT,447.0,812,5,8126,1,382 days 00:00:00.000000000

<div style="border: solid 4px #2f648a; border-radius: 5px;"> 
    <center><h3 style="color: #2f648a; padding: 10px;">2.2 Leitura da bases de dados dos cursos</h3></center>
</div>

In [7]:
cursos = pd.read_csv("databases/cursos.csv")

In [8]:
# delete column produced by the csv
del cursos['Unnamed: 0']

In [9]:
cursos.shape

(67278, 3)

In [10]:
cursos.head()

    UTE_ID F_CCURSO                                           F_DCURSO
0  5963829  FM089AC  COMUNICAÇÃO ASSERTIVA E TÉCNICAS DE PROCURA DE...
1  4320275  811141A                       TÉCNICO/A DE RESTAURANTE/BAR
2  5124212  81114ZZ                TÉCNICO/A DE RESTAURANTE/BAR (UFCD)
3  4787421  81205ZZ                          TURISMO AMBIENTAL E RURAL
4  5522037  FM089AC  COMUNICAÇÃO ASSERTIVA E TÉCNICAS DE PROCURA DE...

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">3. Junção das duas bases de dados</h1></center>
</div>

In [11]:
merged = form.merge(cursos, on="UTE_ID", how="inner")

In [12]:
merged.shape

(283452, 14)

In [13]:
merged.head()

,UTE_ID,CodCEFP,Sexo,IdadeEmAnos,CodHabilitacao,CodNacionalidade,HorasForm,AreaFormacao,NivelFormacaoAccao,CodSaidaProfissional,Sucessos,DuracaoFormacao,F_CCURSO,F_DCURSO
0,24054,201,1,41,12,PT,1504.0,521,5,52174,0,375 days 00:00:00.000000000,62110ZZ,OPERADOR/A AGRÍCOLA (UFCD)
1,39165,309,0,45,12,PT,1300.0,481,5,4816,0,325 days 00:00:00.000000000,48102ZZ,TÉCNICO/A DE INFORMÁTICA - SISTEMAS
2,77485,402,0,51,12,PT,211.0,481,5,4817,0,434 days 00:00:00.000000000,48102ZZ,TÉCNICO/A DE INFORMÁTICA - SISTEMAS
3,347421,204,0,50,12,PT,649.0,523,5,52321,1,351 days 00:00:00.000000000,34401ZZ,TÉCNICO/A DE CONTABILIDADE
4,397308,206,1,45,12,PT,1011.0,341,5,3419,0,343 days 00:00:00.000000000,34102ZZ,TÉCNICO/A COMERCIAL (UFCD)

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">4. Taxa de sucesso por curso</h1></center>
</div>

In [14]:
# criar tabela com contagem de cada formação
count_form = merged[['F_CCURSO', "UTE_ID"]] \
            .groupby("F_CCURSO") \
            .count() \
            .rename(columns = {'UTE_ID': 'Count'})

count_form

          Count
F_CCURSO
01001CI       1
01001ZZ     229
01003ZZ       2
01004BE       4
01004CD       1
...         ...
FM957ZZ      26
FM963ZZ       1
KNXP.01       1
MATFIS        1
PRPAV2        1

[601 rows x 1 columns]

In [15]:
# filtrar apenas os casos de sucesso
succ = merged[merged["Sucessos"]==1]


# criar tabela com contagem de cada formação com outcome <sucesso>
count_form_succ = succ[['F_CCURSO', "UTE_ID"]] \
            .groupby("F_CCURSO") \
            .count() \
            .rename(columns = {'UTE_ID': 'Count_succ'})

count_form_succ

          Count_succ
F_CCURSO
01001ZZ           43
09097AB            1
09097ZZ           11
09098ZZ           27
14667AB          101
...              ...
FM921ZZ            1
FM925ZZ            1
FM956ZZ           14
FM957ZZ           23
PRPAV2             1

[444 rows x 1 columns]

In [16]:
# merge both dataframe based on F_CCURSO
merge_count = count_form.merge(count_form_succ, on="F_CCURSO", how="left")

# change NAN to zeros
merge_count["Count_succ"] = merge_count["Count_succ"].fillna(0)
merge_count

          Count  Count_succ
F_CCURSO
01001CI       1         0.0
01001ZZ     229        43.0
01003ZZ       2         0.0
01004BE       4         0.0
01004CD       1         0.0
...         ...         ...
FM957ZZ      26        23.0
FM963ZZ       1         0.0
KNXP.01       1         0.0
MATFIS        1         0.0
PRPAV2        1         1.0

[601 rows x 2 columns]

In [17]:
# criar uma variável para guardar a taxa de sucesso de cada curso após a sua conclusão
merge_count["succ_rate"] = merge_count["Count_succ"] / merge_count["Count"]
merge_count

          Count  Count_succ  succ_rate
F_CCURSO
01001CI       1         0.0   0.000000
01001ZZ     229        43.0   0.187773
01003ZZ       2         0.0   0.000000
01004BE       4         0.0   0.000000
01004CD       1         0.0   0.000000
...         ...         ...        ...
FM957ZZ      26        23.0   0.884615
FM963ZZ       1         0.0   0.000000
KNXP.01       1         0.0   0.000000
MATFIS        1         0.0   0.000000
PRPAV2        1         1.0   1.000000

[601 rows x 3 columns]

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">5. Recommender System</h1></center>
</div>

In [58]:
# input utilizador

sexo = 1
idade = 30
hab = 9
horas = 500
centro = 309
area = 481

In [59]:
merged.shape

(283452, 14)

In [60]:
# aplicar filtros relativos ao sexo do utente
semelhantes = merged[merged["Sexo"]==sexo]

In [61]:
semelhantes.shape

(225556, 14)

In [62]:
# criação de duas variáveis relativas à idade minima e máxima na qual vamos basear o filtro 
scale = semelhantes["IdadeEmAnos"].max() - semelhantes["IdadeEmAnos"].min()

proportion = 0.15

min_age = idade - scale * 0.15
max_age = idade + scale * 0.15

# aplicar filtros relativos à idade do utente
semelhantes = semelhantes[(semelhantes["IdadeEmAnos"] > min_age) & (semelhantes["IdadeEmAnos"] < max_age)]

In [63]:
semelhantes.shape

(75173, 14)

In [64]:
# criação de duas variáveis relativas ao tempo minimo e máximo em horas da formação.
scale = semelhantes["HorasForm"].max() - semelhantes["HorasForm"].min()

proportion = 0.10

min_hours = idade - scale * 0.15
max_hours = idade + scale * 0.15

# aplicar filtros relativos à idade do utente
semelhantes = semelhantes[(semelhantes["HorasForm"] > min_hours) & (semelhantes["HorasForm"] < max_hours)]

In [65]:
semelhantes.shape

(73297, 14)

In [66]:
# aplicar filtros relativos ao sexo do utente
semelhantes = semelhantes[semelhantes["CodCEFP"]==centro]

In [67]:
semelhantes.shape

(105, 14)

In [68]:
# aplicar filtros relativos à AreaFormacao do utente
semelhantes = semelhantes[semelhantes["AreaFormacao"]==area]

In [69]:
semelhantes.shape

(4, 14)

<div style="background-color: #2f648a; border-radius: 5px;">
    <center><h1 style="color: white; padding: 20px;">6. Output</h1></center>
</div>

In [70]:
semelhantes["F_DCURSO"].value_counts()

ASSISTENTE ADMINISTRATIVO/A    2
OPERADOR/A DE INFORMÁTICA      2
Name: F_DCURSO, dtype: int64